{% extends '::base.html.twig' %}

{% block body -%}
    
	<h1>Upload File</h1>

<form action="new" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
<br>
    <input id="JQueryClick" type="submit" value="Upload Document" />
</form>

<br /><br />
        <a href="{{ path('document') }}">
            <button type="button" class="btn btn-xs btn-info">
            Back to the list
            </button>
        </a>
{% endblock %}


{%block scriptIncludes %}
<script>
$(document).ready(function() {
	$('.date').datepicker({
	    todayBtn: "linked",
	    keyboardNavigation: false,
	    forceParse: false,
	    calendarWeeks: true,
	    autoclose: true
	});
});
</script>
{% endblock %}