/* Global Style */
@roboto: 'Roboto', sans-serif;
@helvetica: 'Helvetica', sans-serif;
@arial: 'Arial', sans-serif;

@heading-font-family: @roboto;
@second-font-family: @helvetica;
@third-font-family: @arial;


@black: #000000;
@white: #ffffff;
@gray: #636363;
@light-gray: #a1a1a1;
@green: #159c02;

@table-heading-top-bg: @green;
@table-heading-bottom-bg: #86d7eb;
@table-body-bg: #e1e1e1;

@body-bg: @white;
@header-bg: #414042;//logo bg color
@theme-color: @light-blue;
@link-color: @theme-color;
@heading-color: @black;
@footer-bg: @light-gray;

@paragraph-spacing: 15px;

//functions
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.scale (@scale) {	
   -webkit-transform: scale(@scale);
   -moz-transform: scale(@scale);
   -o-transform: scale(@scale);
   -ms-transform: scale(@scale);
   transform: scale(@scale);
}
.css-gradient(@from: #20416A, @to: #3D69A5) {
  background-color: @to;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@from),  to(@to));
  background-image: -webkit-linear-gradient(top, @from, @to);
  background-image: -moz-linear-gradient(top, @from, @to);
  background-image: -o-linear-gradient(top, @from, @to);
  background-image: -ms-linear-gradient(top, @from, @to);
  background-image: linear-gradient(top, @from, @to);
}

.horizontal_gradient(@start_color, @end_color) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414042+0,242425+100 */
	background: @start_color; /* Old browsers */
	background: -moz-linear-gradient(left,  @start_color 0%, @end_color 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  @start_color 0%, @end_color 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  @start_color 0%, @end_color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start_color', endColorstr='@end_color',GradientType=1 ); /* IE6-9 */
}

.css-column(@column) {
	@media (min-width: 768px) {	
		-webkit-column-count: @column; /* Chrome, Safari, Opera */
	  -moz-column-count: @column; /* Firefox */
	  column-count: @column;	
	}
}
.css-column-gap(@column_gap) {
	-webkit-column-gap: @column_gap; /* Chrome, Safari, Opera */
    -moz-column-gap: @column_gap; /* Firefox */
    column-gap: @column_gap;
}

* {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.clear {
	clear: both;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}

.row-no-padding {
	margin-left: 0;
	margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

html, body {
	height: auto;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-size: 14px;	
	line-height: 20px;
}

//headings
h1, h2 {
	margin-top: 0;
}
h1 {
	color: @blue;
	font-size: 30px;
	line-height: 30px;
	font-family: @heading-font-family;	
	letter-spacing: 1px;
	margin-bottom: 12px;//2px
}
h2 {
	color: @light-blue;
	font-size: 24px;
	line-height: 26px;
	font-family: @heading-font-family;	
	letter-spacing: 1px;
	margin-bottom: 15px;
}
h3 {
	color: @light-blue;
	font-size: 18px;
	line-height: 20px;
}
h4 {
	font-size: 16px;
	line-height: 18px;
}
h5 {
	color: @blue;
	font-size: 14px !important;
}
h1, h2, h3, h4, h5 {
	margin-top: 0;
}
a {
	&:hover {
		color: @gray;
	}
}
//paragraph
p {
	margin-bottom: @paragraph-spacing;
}
//cover image
.img-cover {
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
}

body {
	background-color: @body-bg;
	background-position: top right !important;
	font: 12px/18px @roboto;
}
//buttons
.button-group {
	margin-top: 20px;
}
button, .btn {
	.transition(50ms all ease);
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	border-radius: 0;
	padding: 5px 15px;
}
.btn {
	border-radius: 0;
	display: inline-block;
	&:hover {
	}
	&.btn-bordered {
		border: 1px solid @white;
		background: none;
		color: @white;
		font: bold 16px @third-font-family;
		padding: 10px;
		text-transform: uppercase;
		&:hover {
			background: @white;
			color: @light-gray;
		}
		&.gray {
			border-color: #898989;
			color: #898989;
			font-size: 12px;
			font-weight: normal;
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	margin: 0;
}

/* Social Media Icons */
.social-icons {
	ul {
		li {
			float: left;
			margin-right: 10px;
			a {
				background-repeat: no-repeat;
				background-position: 0 0;
				display: inline-block;
				height: 19px;
				width: 19px;
				&:hover {
					opacity: 0.7;
				}
			}
			&.facebook {
				a {
					background-image: url(../img/frontend/icons/icon-facebook.png);
				}
			}
			&.youtube {
				a {
					background-image: url(../img/frontend/icons/icon-youtube.png);
				}
			}
			&.flicker {
				a {
					background-image: url(../img/frontend/icons/icon-flicker.png);
				}
			}
			&.twitter {
				a {
					background-image: url(../img/frontend/icons/icon-twitter.png);
				}
			}
			&.wordpress {
				a {
					background-image: url(../img/frontend/icons/icon-wordpress.png);
				}
			}
		}
	}
}

/* Nav bar fixes */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-header {
	float: none;
}
.navbar-brand {
	padding: 0;
	display: inline-block;
	margin-left: 0 !important;
	position: relative;
	.logo-title {
		display: inline-block;
		left: 95px;
		top: 2px;
		position: absolute;
		z-index: 1;
		width: 200px;
		color: @white;
		span.logo {
			display: inline-block;
	    font-size: 16px;
	    font-weight: bold;
	    line-height: 16px;
	    text-transform: uppercase;
		}
		span.logo-slogan {
			display: block;
			margin-top: -5px;
		}
	}
	@media (min-width: 768px) {
		float: none;		
	}
}
.navbar-toggle {
	background: none;
	border: 0;
	border-radius: 0;
	margin-right: 0;
	padding: 10px 12px;
	z-index: 2;//greater than logo
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
	background: none;
	color: @light-gray;
}

/* Main Style */
.navbar-default {
	background-color: @header-bg;
	min-height: 100px;
	.navbar-nav {	
		li {
			a {
				color: @white;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	@media (min-width: 768px) {
		.horizontal_gradient(#414042, #242425);//to get consistent with mobile nav dropdown background
		overflow: hidden;

		.navbar-header {
			float: left;
			.navbar-brand {
				margin-top: 20px;
				width: 300px;
			}
		}
		.navbar-collapse {
			float: right;
			padding: 0;
			.navbar-nav {
				background: none;
				margin-top: 55px;
				margin-bottom: 20px;
				li {
					margin-right: 20px;
					a {
						padding: 0;
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	@media (min-width: 992px) {//overriding min-width: 768px
		.navbar-header {
			margin-right: 90px;
		}
		.navbar-collapse {
			float: left;
			.navbar-nav {
				li {
					margin-right: 45px;
				}
			}
		}
	}
	@media (max-width: 767px) {
		.navbar-collapse {
			position: absolute;
			width: 100%;
			z-index: 2;
		}
		.navbar-nav {
			background-color: @header-bg;
		}
	}
}

.transparent-grd {
	//css-hat
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e411+0,0a6c88+100 */
	background: rgb(212,228,17); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(212,228,17,1) 0%, rgba(10,108,136,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(212,228,17,1) 0%,rgba(10,108,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(212,228,17,1) 0%,rgba(10,108,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e411', endColorstr='#0a6c88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	opacity: 0.85;
}
.content {
	letter-spacing: 1px;
}
.content.home,
.transparent-grd {
  min-height: 800px;	
}
.content.home {
	background-image: url(../img/frontend/intro.jpg);
	background-position: center center !important;
	background-repeat: no-repeat;
	background-size: cover;
  //background-attachment: fixed; //mountain gets hide under header
	letter-spacing: 0px;
  .banner-caption {
  	color: @white;
		font-family: @third-font-family;
  	margin-top: 260px;
		padding-bottom: 20px;
		.caption-head {
			font: bold 50px/50px @second-font-family;
			margin-bottom: 25px;
		}
		p {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 20px;
		}
	}
	@media (min-width: 1200px) {
		.banner-caption {
			padding-left: 60px;
		}
	}
	@media (max-width: 767px) {
		.banner-caption {
			.caption-head {
				font-size: 30px;
				line-height: 30px;
			}
		}
	}
}

//sticky footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  @media (min-width: 768px) {
  	//sticky footer
  	margin-bottom: 40px;	
  }
}
footer {
	background: @footer-bg;
	min-height: 20px;	
	padding: 10px 0;
	@media (min-width: 768px) {	
		//sticky footer
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  //height: 40px;

		.footer-right {
			float: right;
		}
	}
	@media (max-width: 767px) {
		.social-icons {
			margin-right: 10px;
		}
	}
	@media (max-width: 480px) {
		.social-icons {
			margin-bottom: 5px;
			float: none !important;
		}
	}
	.footer-right {
		a {
			&:hover {

			}
		}
	}
}
footer, footer a {
	color: #ffffff;
}


/* Platform Page CSS */
body {
	background: #dcdcdc;
}

//tab fixes
.nav-tabs > li > a {
	border: 0;
	border-radius: 0;
	padding: 0px 8px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 0;
	color: @white;
}
.filter {
	.feedback-tab {
		background: #88d8ef;
		display: table;
		padding: 0 15px;
		width: 100%;
		.tab-head {
			color: #3e7180;
			display: table-cell;
			font-size: 12px;
			line-height: 12px;
			vertical-align: middle;
			text-transform: uppercase;
			width: 70px;
		}
	}
	.nav-tabs {
		float: left;
		height: 40px;
		li {
			a {
				color: @white;
				height: 40px;
				line-height: 40px;
			}
			&:hover {
				background: #3e7180;
				a {
					background: none;
				}
			}
			&.active {
				background: #e23239;
				&:before {
					content: "";
			    width: 0;
			    height: 0;
			    position: absolute;
			    bottom: -7px;
			    left: 50%;
			    border-width: 7px 7px 0px 7px;
			    border-style: solid;
			    border-color: #e23239 transparent;
			    margin-left: -7px;
		    }
			}
		}
	}
	.tab-content {
		padding: 20px 15px;
	}
}
.main-content {
	background: #ffffff;
}
.search {
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	span {
		display: inline-block;
		font-weight: bold;
		margin-right: 5px;
		text-transform: uppercase;
	}
}
.question {
	background: #99bc44;
	color: @white;
	font-size: 18px;
	min-height: 40px;
	line-height: 40px;
	position: relative;
	.number {
		color: #59731a;
		float: left;
		font-size: 18px;
		line-height: 40px;
		margin-right: 20px;
	}
	.next, .prev {
		background-repeat: no-repeat;
		background-position: center center;
		border-left: 1px solid #ffffff;
		height: 100%;
		position: absolute;
		width: 55px;
	}
	.next {
		background-image: url(../img/frontend/icons/arrow-next.png);
		right: 0;
	}
	.prev {
		background-image: url(../img/frontend/icons/arrow-prev.png);
		right: 55px;
	}
}

/* custom drop down */
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    /* width: 200px; */
    margin-right: 110px;
    padding: 10px 30px 10px 0px;

    /* Styles */
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ffffff transparent;
}

.wrapper-dropdown-3 .question-dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    /* Styles */
    background: #99bc44;
    border-radius: inherit;
    border-bottom: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .question-dropdown:after {
    /* content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;     */
}

.wrapper-dropdown-3 .question-dropdown:before {
    /* content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;     */
}

.wrapper-dropdown-3 .question-dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .question-dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .question-dropdown li:first-of-type a {
}

.wrapper-dropdown-3 .question-dropdown li:last-of-type a {
}

/* Hover state */

.wrapper-dropdown-3 .question-dropdown li:hover a {
    background: #73731a;
}

/* Active state */

.wrapper-dropdown-3.active .question-dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity .wrapper-dropdown-3 .question-dropdown,
.no-pointerevents .wrapper-dropdown-3 .question-dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity .wrapper-dropdown-3.active .question-dropdown,
.no-pointerevents .wrapper-dropdown-3.active .question-dropdown {
    display: block;
}
.wrapper-dropdown-3 span,
.wrapper-dropdown-3 .question-dropdown li a {
	padding-left: 30px;
  display: block;
}


/* css for accordion */
.accordion {
	.ac {
		margin-bottom: 20px;
		.ac-text {
			background: none;
		}
	}
}
.ac-label {
  position: relative;
  padding: 2px 0px;
  display: block;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
}

.ac-input:checked + label, .ac-label:hover {
  /* background-color: @theme-color;
  color: @white; */
}

.ac-label:after, .ac-input:checked + .ac-label:after,
.ac-label:hover:after, .ac-input:checked + .ac-label:after {	
	border: 1px solid #898989;
	border-radius: 10px;
	color: #919191;
}
.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  font-size: 18px;
  position: absolute;
  display: block;
  right: -3px;
  top: 2px;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  transition: background-color .15s ease-in-out;
}

.ac-label:hover:after, .ac-input:checked + .ac-label:after {
  /* background-color: #b5b5b5; */
}

.ac-input:checked + .ac-label:after {
  content: "-";
}

.ac-input {
  display: none;
}


.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
  opacity: 1;
  height: auto;
}

/* sub-level */
.ac-sub .ac-label {
  background: none;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}

.ac-sub-text {
  padding: 0 1em 0 2em;
}

.filter {
	.filter-title {
		color: #959595;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	form {
		label {
			cursor: pointer;
			font-weight: normal;
		}
	}
}
/* Custom Radio */
.filter input[type="radio"] {
  display: none;
}

.filter input[type="radio"] + label {
  width: 100%;
}

.filter input[type="radio"] + label span {
  display: inline-block;
  float: right;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #898989;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.filter input[type="radio"] + label span {
  
}

.filter input[type="radio"]:checked + label span {
  background: url(../img/frontend/icons/icon-radio.png) no-repeat center center;
}

.filter input[type="radio"] + label span,
.filter input[type="radio"]:checked + label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}


/* Chart CSS */
.icon {
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
	&.icon-download {
		background-image: url(../img/frontend/icons/icon-download.png);
	}
	&.icon-share {
		background-image: url(../img/frontend/icons/icon-share.png);
	}
}
.high-chart {
	padding-top: 30px;
	padding-bottom: 20px;
	@media (min-width: 768px) {
	}
	.high-chart-wrap {
		height: 400px;	
		position: relative;
		#container, #container2 {
			height:400px;
		}
	}
	.legend-box {
		@media (min-width: 600px) {
			height: 104px;//height of high chart legend with four answer or option
			padding-left: 20%;
			position: absolute;
			bottom: 18px;
			width: 100%;
			z-index: 1;			
		}
		@media (max-width: 1199px) {
			padding-left: 25%;
		}
		@media (max-width: 599px) {
			padding: 0 15px;
		}
	}
	.legend {
		float: left;
		padding-right: 30px;
		margin-bottom: 30px;
		width: 20%;
		@media (max-width: 1199px) {
			width: 27%;
		}
		@media (max-width: 991px) {
			width: 33%;
		}
		@media (max-width: 599px) {
			width: 100%;
			margin: 10px 0;
			padding: 0 15px;
		}
		.legend-head {
			color: @green;
			font-size: 14px;
			font-family: @heading-font-family;	
			margin-bottom: 20px;
		}
		ul {
			li {
				font-size: 12px;
				a {
					font-size: 12px;
					color: #4c4c4c;
				}
			}
		}
		&.legend1 {
		}		
		&.legend2 {
		}		
		&.legend3 {
		}
		&.download {
			li {
				line-height: 20px;
				margin-bottom: 8px;
				a {
					span {
						float: left;
						margin: 2px 10px 10px 0;
					}
				}
			}
		}
	}
	.chart-table {
		padding: 15px 15px 0;	
		table {
			margin-bottom: 0;
		}
		.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
			background: @table-heading-top-bg;
			color: @white;
		}
		.table-bordered > tbody > tr > th {
			background: @table-heading-bottom-bg;
			color: @white;
		}
		.table-bordered > tbody > tr > td {
			background: @table-body-bg;
		}	
	}
}//end high-chart

/* High Chart CSS
TODO: style to be given by High Chart jquery 
Column Color
*/
.highcharts-axis-labels text {
	font-size: 14px !important;	
	text-transform: uppercase;
}

/* Only demo */
@media (max-width: 1000px) {
  /* .welcome-message {
    display: none;
  } */
}