{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueChartOption creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('issuechartoption') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block scriptIncludes %}
<script>
$(document).ready(function() {
		//select the option
    var selected_val = getUrlParameter('id');
    $('#appbundle_issuechartoption_issueChartQuestion').val(selected_val);

    //ajax
    ajax_request_response_issueType('#appbundle_issuechartoption_issueChartQuestion', '{{path('issuechartquestion_detail' )}}');
  
});
</script>
{% endblock %}