{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Answer creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('answer') }}">
            <button type="button" class="btn btn-xs btn-info">Back to the list</button>
        </a>
    </li>
</ul>
{% endblock %}
