
			<div class="col-sm-3 col-md-3 col-lg-2">
				<aside>
					<div class="filter">
					  <!-- Nav tabs -->
					  <div class="feedback-tab clearfix">
					  	<div class="tab-head">Feedback Round</div>

						  <ul id="" class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active"><a href="#round1" aria-controls="home" role="tab" data-toggle="tab">1</a></li>
						    <li role="presentation"><a href="#round2" aria-controls="profile" role="tab" data-toggle="tab">2</a></li>
						    <li role="presentation"><a href="#round3" aria-controls="messages" role="tab" data-toggle="tab">3</a></li>
						    <li role="presentation"><a href="#round4" aria-controls="settings" role="tab" data-toggle="tab">4</a></li>
						  </ul>
					  </div>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane fade in active" id="round1">
					    	<div class="tab-content-wrap">
					    		<div class="filter-title">Filter By</div>
					    		<div class="accordion">					    								    		
										<form action="">
										  <div class="ac">			    
										  	{# ac-1 #}
										    <input class="ac-input" id="ac-1" name="ac-1" type="checkbox" />
										    <label class="ac-label" for="ac-1">Month</label>
										    
										    <ul class="ac-text">
										    	<li><input type="radio" id="month1" />
  													<label for="month1">January<span></span></label></li>
										    	<li><input type="radio" id="month2" />
  													<label for="month2">Feburary<span></span></label></li>
										    	<li><input type="radio" id="month3" />
  													<label for="month3">March<span></span></label></li>
										    </ul><!--/ac-text-->
										  </div><!--/ac-->


										  <div class="ac">			    
										  	{# ac-2 #}
										    <input class="ac-input" id="ac-2" name="ac-2" type="checkbox" />
										    <label class="ac-label" for="ac-2">District</label>
										    
										    <ul class="ac-text">
										    	<li><input type="radio" id="all-district" />
  													<label for="all-district">All<span></span></label></li>
										    	<li><input type="radio" id="kathmandu" />
  													<label for="kathmandu">Kathmandu<span></span></label></li>
										    	<li><input type="radio" id="bhaktapur" />
  													<label for="bhaktapur">Bhaktapur<span></span></label></li>
										    </ul><!--/ac-text-->
										  </div><!--/ac-->


										  <div class="ac">			    
										  	{# ac-3 #}
										    <input class="ac-input" id="ac-3" name="ac-3" type="checkbox" />
										    <label class="ac-label" for="ac-3">Gender</label>
										    
										    <ul class="ac-text">
										    	<li><input type="radio" id="male" name="gender" />
  													<label for="male">Male<span></span></label></li>
										    	<li><input type="radio" id="female" name="gender" />
  													<label for="female">Female<span></span></label></li>
										    </ul><!--/ac-text-->
										  </div><!--/ac-->


										  <div class="ac">			    
										  	{# ac-4 #}
										    <input class="ac-input" id="ac-4" name="ac-4" type="checkbox" />
										    <label class="ac-label" for="ac-4">Ethnicity</label>
										    
										    <ul class="ac-text">
										    	<li><input type="radio" id="all-ethnicity" />
  													<label for="all-ethnicity">All<span></span></label></li>
										    </ul><!--/ac-text-->
										  </div><!--/ac-->


										  <div class="ac">			    
										  	{# ac-5 #}
										    <input class="ac-input" id="ac-5" name="ac-5" type="checkbox" />
										    <label class="ac-label" for="ac-5">Age Group</label>
										    
										    <ul class="ac-text">
										    	<li><input type="radio" id="all-age" />
  													<label for="all-age">All<span></span></label></li>
										    </ul><!--/ac-text-->
										  </div><!--/ac-->


										  <div class="ac">			    
										  	{# ac-6 #}
										    <input class="ac-input" id="ac-6" name="ac-6" type="checkbox" />
										    <label class="ac-label" for="ac-6">Disability</label>
										    
										    <ul class="ac-text">
										    	<li><input type="radio" id="all-disability" />
  													<label for="all-disability">All<span></span></label></li>
										    </ul><!--/ac-text-->
										  </div><!--/ac-->

										  <input type="submit" value="Submit" class="btn btn-bordered gray">
									  </form>

					    		</div><!--/accordion-->
					    	</div>
					    </div>

					    <div role="tabpanel" class="tab-pane fade" id="round2">Same as in Round 1</div>

					    <div role="tabpanel" class="tab-pane fade" id="round3">Same as in Round 1</div>

					    <div role="tabpanel" class="tab-pane fade" id="round4">Same as in Round 1</div>
					  </div>
					</div>
				</aside>
			</div>