{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueMapSayings edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('issuemapsayings') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}


{% block scriptIncludes %}
<script>
$(document).ready(function() {
    ajax_request_response_issueType('#appbundle_issuemapsayings_issueQuestion', '{{path('issuequestion_detail' )}}');
  
});
</script>
{% endblock %}