{% extends '::base.html.twig' %}

{% block body -%}
    <h1>IssueMapSayings creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('issuemapsayings') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block scriptIncludes %}
<script>
$(document).ready(function() {		
		//select the option
    var selected_val = getUrlParameter('id');
    $('#appbundle_issuemapsayings_issueQuestion').val(selected_val);

		//ajax
    ajax_request_response_issueType('#appbundle_issuemapsayings_issueQuestion', '{{path('issuequestion_detail' )}}');
  
});
</script>
{% endblock %}