{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Age list</h1>

    <table class="records_list table table-condensed table-hover table-striped">
        <thead>
            <tr>
                
                <th>Age Group</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.name }}</td>
                <td>
                
                       <a href="{{ path('ethnicity_edit', { 'id': entity.id }) }}">
                       <button type="button" class="btn btn-xs btn-success">Edit</button></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('age_new') }}">
                <button type="button" class="btn btn-xs btn-success">
                Create a new entry
                </button>
            </a>
    {% endblock %}
