{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Age creation</h1>

    {{ form(form) }}

      
        <a href="{{ path('age') }}">
            <button type="button" class="btn btn-xs btn-success">
            Back to the list
            </button>
        </a>
    
{% endblock %}
