#map {

	height: 500px; /* 400px */

	width: 670px; /* 800px */
}
@media (min-width: 1200px){
.filter .nav-phase2 li a{
  font-size:10px;   
}
}
.info {
  color:#818285;  
	font-size: 12px;
	text-transform: uppercase;
}
.leaflet-top .info {
    min-width: 200px;
    background: #fff;
    padding: 20px;
}
.info.leaflet-bottom{
  padding:10px;
}
.info .info-title,
#slider li,
.info .district-name,
.info .legend-title,
.info .item .value {
	font-weight: bold;
	text-transform: uppercase;
}
/* Color */
.info-title-next,
.info-title-prev {

}

/* theme-default */
#slider li:first-child,
.theme-default .info .info-title,
.theme-default.info-title-prev,
.theme-default.info-title-next,
.theme-default .info .item .value,
.theme-default .data-type li.active a {
	color: #0099ff;
}
.theme-default .info .district-name {
	border-left: 2px solid #0099ff;
}

/* theme-blue */
#slider li:nth-child(2),
.theme-blue .info .info-title,
.theme-blue.info-title-prev,
.theme-blue.info-title-next,
.theme-blue .info .item .value,
.theme-blue .data-type li.active a {
  color: #333399;
}
.theme-blue .info .district-name {
  border-left: 2px solid #333399;
}

/* theme-green */
#slider li:nth-child(3),
.theme-green .info .info-title,
.theme-green.info-title-prev,
.theme-green.info-title-next,
.theme-green .info .item .value,
.theme-green .data-type li.active a {
  color: #8dc63f;
}
.theme-green .info .district-name {
  border-left: 2px solid #8dc63f;
}

/* theme-orange */
#slider li:last-child,
.theme-orange .info .info-title,
.theme-orange.info-title-prev,
.theme-orange.info-title-next,
.theme-orange .info .item .value,
.theme-orange .data-type li.active a {
  color: #Ff9900;
}
.theme-orange .info .district-name {
  border-left: 2px solid #Ff9900;
}

.info .info-title,
#slider .slides li {
  font-size: 18px;
	margin: 0 0 25px;
  padding-bottom: 8px;
}
.info-title-next,
.info-title-prev {
	font-size: 9px;
	text-transform: uppercase;
}
#slider .slides li {
	border-bottom: 2px dotted #000;	
}
.info .legend-title,
.info .district-name {
	color: #000;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}
.info .district-name {
	padding-left: 4px;
}
.info .item {
	min-height: 38px;
	margin-bottom: 20px;
	position: relative;
}
.info .item .label {
	color: #000;
	float: left;
	font-size: 10px;
	margin-right: 20px;
	position: absolute;
	bottom: 0;
	text-transform: uppercase;
}
.info .item .label .icon {
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	margin-bottom: 5px;
	width: 10px;
	margin: 0 auto;
}
.info .item .label .label-name {
	margin-top: 5px;
}
.info .item.girls .label .icon {
	background-image: url(/img/icon-girls.png);
}
.info .item.boys .label .icon {
	background-image: url(/img/icon-boys.png);
}
.info .item .value {
	margin-left: 45px;
	font-size: 45px;
	line-height: 36px;
}
.info .hover-district {
	font-weight: bold;
	color: #000;
	font-size: 12px;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.leaflet-container {
  /* background: #fff; */
}
.legend.leaflet-control {
	margin: 0 0 10px 10px;
}
.legend-title {
	margin-bottom: 10px;
}
.legend-wrap {
	background: #f8f8f8;
	padding: 6px 8px;
}
.legend-wrap br:first-child {
	display: none;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

/* New Style */
.leaflet-control-attribution {
	display: none;
}
#map .data-type {
	right: 20px;
	bottom: 20px;
	position: absolute;
	z-index: 1;
}
#map .data-type li {
	display: inline-block;
	float: left;
	margin-right: 15px;
}
#map .data-type li a {
	text-decoration: none;
}
#map .data-type li a:hover {
	text-decoration: underline;
}

/* Flex Slider */
#slider {
	background: none;
	height: 35px;
    width: 300px;
    position: absolute;
    top: 60px;
    right: 200px;
    z-index: 999;
  }
  #carousel {
    width: 100%;
  }
  .flex-direction-nav a {
    opacity: 1;
  }
  .flex-direction-nav .flex-prev,
  .flexslider:hover .flex-direction-nav .flex-prev {
    left: 0px;
  }
  .flex-direction-nav .flex-next,
  .flexslider:hover .flex-direction-nav .flex-next {
    right: 0px;
  }
  .flexslider {
    border: 0;
    margin: 0;
  }
  .flexslider .slides > li {
    text-align: center;
  }
  .info-title-prev, .info-title-next {
    position: absolute;
    top: 10px;
    width: 115px;
  }
  .info-title-prev .grd,
  .info-title-next .grd {
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	left: 0;
  	z-index: 1;
  }
  .info-title-prev .grd {
  	background-image: url(../images/gradient-bg-prev.png);
  	background-position: left top;

  	/* background-image: -moz-linear-gradient(left, rgba(221, 221, 221, 1), rgba(255, 255, 255, 0));
  	    background-image: -ms-linear-gradient(left, rgba(221, 221, 221, 1), rgba(255, 255, 255, 0));
  	    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(221, 221, 221, 1)), to(rgba(255, 255, 255, 0)));
  	    background-image: -webkit-linear-gradient(left, rgba(221, 221, 221, 1), rgba(255, 255, 255, 0));
  	    background-image: -o-linear-gradient(left, rgba(221, 221, 221, 1), rgba(255, 255, 255, 0));
  	    background-image: linear-gradient(left, rgba(221, 221, 221, 1), rgba(255, 255, 255, 0));
  	    background-repeat: repeat-x;
  	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(221, 221, 221, 1)', endColorstr='rgba(255, 255, 255, 0)', GradientType=1); */
  }
  .info-title-next .grd {
  	background-image: url(../images/gradient-bg-next.png);
  	background-position: right top;
  }
  .info-title-prev {
  	/* css3 text gradient */
  	/* background: -webkit-gradient(linear, left top, right bottom, from(#ddd), to(#f26522));
  	    -webkit-background-clip: text;
  	    -webkit-text-fill-color: transparent; */

    left: -125px;
    text-align: right;
  }
  .info-title-next {
    right: -125px;
  }
  #carousel img {
    cursor: default;
    opacity: 1;
  }
  #carousel {
    height: 100%;
  }
  #carousel ul, #carousel li {
    width: 100%;
    height: 100%;
  }
  .flex-direction-nav .flex-disabled {
  	display: none;
  }
  .flex-direction-nav a {
  	top: 26px;
  }
  .flex-direction-nav a.flex-prev,
  .flex-direction-nav a.flex-next {
  	background-position: center;
  	background-repeat: no-repeat;
  	height: 12px;
  	text-indent: -9999px;
  	width: 9px;
  }
  .flex-direction-nav a.flex-next {
  	background-image: url(../images/arrow-next.png);
  }
  .flex-direction-nav a.flex-prev {
  	background-image: url(../images/arrow-prev.png);
  }

.navbar-header {
    padding: 25px 0px 0px 25px;
}
  .graph{
    min-height:1px;
    width: auto;
    padding-right: 7px;
  padding-left: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  }
  .index {
    float: left;
    width: auto;
  }
  .clear {
    clear: both;
  }
  .index-title {
    width: 75px;
    float: left;
  }
  .index-bar {    
    height:30px;
    width:0px;
    float: left;
  }
  .girl{
    background-color:#ffe0f7;
  }
  .boy{
    background-color:#c0dcff;
  }
  .total-tile{
    background-color:#BF5FFF;
  }


.graph-content {
  background-color: #ffffff;
  color: inherit;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}