.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.paddingleft10 {
  padding-left: 10px !important;
}
.nopadding {
	padding: 0 !important;
}
.nopaddingleft {
	padding-left: 0 !important;
}
.nopaddingright {
	padding-right: 0 !important;
}
.marginbottom15 {
	margin-bottom: 15px;
}

.edit-link.edit-static {
    color: #000;
    text-shadow: none;
    position: static;
}

body {
	background: #ebebeb;
}

body.survey {
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 13px;
	line-height: 18px;
}

/* about page */
.about-page .about-section.nopaddingright {
	padding-right: 10px !important;
}
.u-box {
	margin-top: 10px;
	margin-bottom: 0;
}
.about-page .u-box {
	margin-bottom: 10px;
}
.u-box-white {
    background: #fff;
    color: #333;
}
.u-box-white h1,
.u-box-white h2,
.u-box-white h3, 
.u-box-white h4,
.u-box-white a {
    color: #408167;
}

.infographics .infographics-list .icon {
	background: #f2f2f2;
	display: inline-block;
	height: 80px;
	width: 80px;
}
.infographics.infographics-style-1 .infographics-list .icon,
.infographics.infographics-style-3 .infographics-list .icon { 
	float: left;
	margin-right: 15px;
}
.infographics.infographics-style-1 .infographics-list,
.infographics.infographics-style-3 .infographics-list {
	display: block;
  clear: both;
  margin-bottom: 20px;
  min-height: 80px;
}

.infographics.infographics-style-2 .infographics-list {
    float: left;
    max-width: 33%;
}


.tab-heading {
	background: #5d5d5d;
	padding: 0 15px;
	min-height: 40px;
}
.survey .page-title,
.tab-heading {
	color: #ffffff;
	font-size: 18px;
	line-height: 40px;
}

.filter.survey .feedback-tab {
	padding: 0;
}


body.survey {
	background: #959595;
}
.survey .tab-content {
	padding: 0;
}
.survey .tab-content li,
.survey-questions #zelect .dropdown li {
  border-bottom: 1px solid #a4a4a4;/*a7a7a7*/
}
.survey .tab-content li a,
.survey-questions #zelect .dropdown li {
  background: #959595;
  display: block;
  font-size: 16px;
	padding: 15px;
}
.survey .tab-content li.current_page_item,
.survey .tab-content li.current_page_item a,
.survey-questions #zelect .dropdown li.current {
	background: #707070;
}
.survey .tab-content li,
.survey .tab-content li a,
.survey .tab-content li.current_page_item, 
.survey .tab-content li.current_page_item a,
.survey-questions #zelect .dropdown li {
	color: #ffffff;
}


.filter.survey .nav-tabs li a {
	font-size: 12px;
}

.survey .main-content {
	background: #ebebeb;
}

.s-box-module {
    background: #fff;
    margin-bottom: 10px;
}
.s-box-module-border .s-box-right {
	border-left: 10px solid #ebebeb;
}
.s-box-left {
	margin-right: 10px;
}
.s-box {
	background: #ffffff;
	padding: 10px;
	margin-bottom: 10px;
}
.s-box-module-border .s-box {
	margin-bottom: 0px;
}
.s-box h2 {
	font-size: 18px;
	color: #428d8e;
}

.survey .graphics img {
	margin-bottom: 10px;
}
.survey .graphics p {
  margin-bottom: 5px;
  text-align: center;
}


/* News page */
	.news-page {
	    padding: 15px;
			font-size: 13px;
	}

	.news-box-module {
			font-size: 13px;
	    padding-right: 10px;
	    margin-bottom: 10px;
	}
	.news-homepage .news-box-module:nth-child(4n), .news-page .news-box-module:nth-child(4n) {
	    padding-right: 0;
	}
	.news-homepage .news-box-module,
	.news-page .news-box-module {
	    width: 25%;
	    float: left;	
	}
	.homepage-widget .news-homepage .news-box-module {
		width: 100%;
		float: none;
	}
	.news-homepage-featured .news-box-module:first-child {
	    margin-bottom: 20px;
	}
	.news-box-wrap {
	    background: #fff;
	    height: 100%;
	    padding: 10px;
	}

	.news-graphics img, .news-graphics iframe {
			height: 100%;
	    width: 100%;
	}
	.news-box-module h2 {
			font-size: 18px;
	}
	.news-body .news-title {
		color: #428d8e;
		line-height: 22px;
	}
	.news-body .news-title a {
		color: #428d8e;
	}
	.news-graphics {
	    margin-bottom: 15px;
	}
	.news-box-module .readmore {
		color: #3c888d;
	}
	.news-detail-page .audio {
		height: 200px;
	}
	/* on homepage */
	.news-box-module {
	    color: #333333;
	}
/* news page ends */

/* homepage css */
.homepage-widget { margin-bottom: 10px}
.home-box { width: 50%; padding-right: 10px}
.container-fluid.padding10 {
	padding: 10px;
}
.homepage-widget .u-box-white {
	margin-top: 0;
	padding: 10px;
}
.h-col-25 {
	width: 25%;
	padding-right: 10px;
}
.h-col-75 {
	width: 75%;
}

.surveyNumber, .surveyDetail {
    color: #3c888d;
    line-height: 28px;
}

.surveyNumber {
    font-size: 30px;
    margin-bottom: 10px;
}

.surveyDetail {
    font-size: 18px;
    margin-bottom: 35px;
}

.surveyMen, .surveyWomen {
    font-size: 30px;
    line-height: 28px;
    float: left;
    width: 50%;
}

.surveyMen {
    color: #408167;
}

.surveyWomen {
    color: #7fb26a;
}

.survey-men-icon, .survey-women-icon {
    height: 50px;
    margin-bottom: 17px;
}

.survey-men-icon {
    padding-top: 7px;
}


/* audio control css */
	.jp-audio {
	    margin-bottom: 20px;
	    background: #959595;
	    border: 0;
	    padding: 10px;
	    height: 100%;
	}

	button.jp-stop {
	    display: none;
	}

	.jp-current-time, .jp-duration, .jp-toggles {
	    display: none;
	}

	.jp-volume-controls .jp-volume-max {
	    display: none !important;
	}

	.jp-volume-controls .jp-volume-bar {display: none !important;}

	.jp-interface {
	    background: none;
	}

	.jp-controls {
	    background: none;
	}
	.jp-audio {
		width: 100%;
	}
	.jp-audio .jp-controls, .jp-audio-stream .jp-controls {
	    margin: 0;
	    float: left;
	    width: 29px;
	}
	.jp-audio .jp-volume-controls .jp-mute, .jp-audio-stream .jp-volume-controls .jp-mute {
	    right: 0;
	    left: initial;
	    top: -3px;
	}

	.jp-progress {
		height: 4px; margin-right: 30px; margin-left: 35px;
 		width: auto; background: none;
 	}

	.jp-seek-bar {
	    background: none;
	    background-color: #000;
	}

	.jp-seek-bar {
	    width: 100% !important;
	    display: block;
	    height: 4px;
	    background-color: #bbbbbb;
	}

	.jp-play-bar {
	    background: #f1f1f1;
	    position: relative;
	}
	.jp-play-bar:after {
	    /*background: #b4b4b4;*/
	    background: #000;
	    content: '';
	    height: 14px;
	    width: 2px;
	    position: absolute;
	    right: 0;
	    top: -5px;
	}
	.jp-type-single .jp-play,
	.jp-type-single .jp-play:focus,
	.jp-state-playing .jp-type-single .jp-play,
	.jp-state-playing .jp-type-single .jp-play:focus {
		background: url(../img/frontend/icons/play-pause-icon.png) no-repeat;
		height: 29px;
		width: 29px;
	}

	.jp-type-single .jp-play,
	.jp-type-single .jp-play:focus {
		background-position: 0 0;		
	}

	.jp-state-playing .jp-type-single .jp-play {
		background-position: 0 -29px !important;
	}
	/* jp-state-muted */
	.jp-volume-controls .jp-mute,
	.jp-volume-controls .jp-mute:focus,
	.jp-state-muted .jp-volume-controls .jp-mute,
	.jp-state-muted .jp-volume-controls .jp-mute:focus {
		background: url(../img/frontend/icons/speaker.png) no-repeat;
		height: 25px;
		width: 25px;
	}
	.jp-state-muted .jp-volume-controls .jp-mute,
	.jp-state-muted .jp-volume-controls .jp-mute:focus {
		opacity: 0.5;
	}

	.jp-type-single {
	    height: 100%;
	    position: relative;
	}

	.jp-gui.jp-interface {
	    position: absolute;
	    bottom: 0;
	}

	.jp-audio .jp-controls-holder {
	    height: auto;
	}

	.jp-details .jp-title {
	    text-align: left;
	    color: #333;
	}
	.jp-audio .jp-volume-controls, .jp-audio-stream .jp-volume-controls {
	    position: absolute;
	    width: 100%;
	    bottom: 11px;
	}

	.jp-type-single .jp-controls button {
	    position: absolute;
	    bottom: 13px;
	}
/* audio control css ends */

/* reports */
	.list-view .share-icons li {
	    background-color: #ebebeb;
	}
/* reports css ends */


/* platform changes css */
	.main-content {
		background: #ebebeb;
	}
	.filter .nav-tabs li.active {
	    background: #e23239;
	}

	.filter .nav-tabs li.active:before {
	    border-color: #e23239 transparent;
	}
	.survey-questions #zelect .dropdown {
	    display: block !important;
	    position: static;
	    width: 100%;
	}

	.survey-questions #zelect .zelect {
	    margin-right: 0;
	}
	.survey-questions #zelect .zelected {
		display: none;
	}
	.question {
		background: #e23239;
		padding-left: 15px;
	}
	.survey-questions-title.question {
		background: #5d5d5d;
		border-bottom: 1px solid #a4a4a4;
	}
/* platform css ends */


/* Nav css */
	.navbar-default .navbar-collapse .navbar-nav li {
	    margin: 0 !important;
	    padding: 0 !important;
	}

	.navbar-default .navbar-collapse .navbar-nav li a {
	    margin: 0 25px;
	}

	.navbar-default .navbar-collapse .navbar-nav > li > a {
	    padding-bottom: 30px;
	}

	.navbar-default .navbar-collapse .navbar-nav {
	    margin-bottom: 0;
	}
	.dropdown-menu > li > a {
	    padding-bottom: 7px !important;
	}
/* Nav css ends */

/* Responsive css */
	@media (min-width: 768px) {
		.survey-question-col {
			float: right;
		}
	}
	@media (max-width: 1199px) {
		.navbar-default .navbar-collapse .navbar-nav li a {
		    margin: 0 15px;
		}
		.surveyMen, .surveyWomen {
		    font-size: 24px;
		}

		.survey-men-icon img, .survey-women-icon img {
		    width: 36px;
		}

		.survey-men-icon, .survey-women-icon {
		    margin-bottom: 2px;
		}
	}
	@media (max-width: 991px) {
		.surveyMen, .surveyWomen {
		    width: 100%;
		    text-align: center;
		}
		.surveyWomen {
				margin-bottom: 15px;
		}

		.surveyDetail {
		    font-size: 14px;
		    margin-bottom: 15px;
		    line-height: 23px;
		}
		.news-page .news-body a.readmore,
		.news-homepage .news-body a.readmore {
		    display: none;
		}
		.h-col-75 {
		    width: 70%;
		}

		.h-col-25 {
		    width: 30%;
		}

		.filter .feedback-tab {
		    padding: 0;
		}

		.filter .nav-phase2 li a {
		    padding-left: 4px;
		    padding-right: 4px;
		}
	}
	@media (max-width: 899px) {
		.navbar-default .navbar-collapse {
		    float: none;
		}

		.navbar-default .navbar-collapse .navbar-nav {
		    margin-top: 40px;
		}
	}
	@media (max-width: 767px) {
		.navbar-default .navbar-collapse .navbar-nav {
		    margin-top: 0;
		}

		.navbar-nav>li>.dropdown-menu {
		    position: static;
		    width: 100%;
		    background: #333;
		    margin-bottom: 10px;
		}

		.navbar-default .navbar-collapse .navbar-nav > li > a {
		    padding-bottom: 10px;
		    padding-top: 10px;
		}

		.home-box {
		    width: 100%;
		    padding: 0;
		    margin-bottom: 10px;
		}

		.news-homepage .news-box-module, .news-page .news-box-module {
		    width: 100%;
		    padding: 0;
		}
		.homepage-widget {
		    margin-bottom: 0;
		}

		.news-homepage .news-box-module {
		    margin-bottom: 0;
		}

		.survey-question-col {
		    margin-top: 10px;
		    margin-bottom: 10px;
		}
	}
/* Responsive css ends 