{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Interviewer creation</h1>

    {{ form(form) }}

        <a href="{{ path('interviewer') }}">
            <button type="button" class="btn btn-xs btn-warning">Back to the list</button>
        </a>
    
{% endblock %}
