{% extends 'frontend.html.twig' %}

{% block body %}
	<section class="content img-cover home">
		<div class="transparent-grd">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-9">
						<div class="banner-caption">
							<div class="caption-head">'By listening to people’s needs, opinions, suggestions and complaints, the humanitarian community can adapt its response to their specific circumstances and concerns'</div>
							<p>The Inter Agency Common Feedback Project (CFP) is a common service to humanitarian partners to collect, analyze and elevate feedback from communities to promote an effective and responsive relief effort. All the data collected by the CFP is open for partners to access and use to support strengthening relief.</p>
							<a href="#" class="btn btn-bordered">Go to Platform</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}