{% extends 'frontend.html.twig' %}

{% block body %}
	<section class="content">
		<div class="row row-no-padding">
			<div class="col-sm-4 col-md-3 col-lg-2">
				<aside>
					<div class="filter">
					  <!-- Nav tabs -->
					  <div class="feedback-tab clearfix">
					  	<div class="tab-head">Feedback Round</div>

						  <ul id="" class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active"><a href="#round1" aria-controls="home" role="tab" data-toggle="tab">1</a></li>
						    <li role="presentation"><a href="#round2" aria-controls="profile" role="tab" data-toggle="tab">2</a></li>
						    <li role="presentation"><a href="#round3" aria-controls="messages" role="tab" data-toggle="tab">3</a></li>
						    <li role="presentation"><a href="#round4" aria-controls="settings" role="tab" data-toggle="tab">4</a></li>
						  </ul>
					  </div>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane fade in active" id="round1">
					    	<div class="tab-content-wrap">
					    		<div class="accordion">
					    			
					    		</div>
					    	</div>
					    </div>
					    <div role="tabpanel" class="tab-pane fade" id="round2">Round 2</div>
					    <div role="tabpanel" class="tab-pane fade" id="round3">Round 3</div>
					    <div role="tabpanel" class="tab-pane fade" id="round4">Round 4</div>
					  </div>

					</div>
				</div>
			</aside>

			<div class="col-sm-8 col-md-9 col-lg-10">
				<div class="main-content">
					<div class="question"><span>Question 9</span> Are your main problems being adressed ?</div>
					<div class="chart">
						<div class="search">Search  Month / District / Age Group / Gender</div>

						<div class="high-chart">
							<div id="container" style="width:100%; height:400px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}