{% extends 'frontend.html.twig' %}

{% block body %}
	<section class="content">
		<div class="row row-no-padding">
			{% include 'sidebar.html.twig' %}

			<div class="col-sm-9 col-md-9 col-lg-10">
				<!-- main content -->
				<div class="main-content">
					<div class="question">
						<!--<div class="number">Question 9</div> 
						Are your main problems being adressed ?-->
						<a href="#" class="next"></a>
						<a href="#" class="prev"></a>

						<div id="dd" class="wrapper-dropdown-3" tabindex="1">
							<span>Question 1 Are your main problems being adressed ?</span>
							<ul class="question-dropdown">
								<li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-envelope icon-large"></i>Question 1 Are your main problems being adressed ?</a></li>
								<li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-truck icon-large"></i>Question 2 Test Question ?</a></li>
								<li><a href="http://tympanus.net/Tutorials/CustomDropDownListStyling/index3.html#"><i class="icon-plane icon-large"></i>Question 3 Test Question ?</a></li>
							</ul>
						</div>
					</div>

					<div class="chart">
						<div class="search"><span>Search</span>  Month / District / Age Group / Gender</div>

						<div class="high-chart">
							<!-- chart: parsed from data table -->
							<div class="high-chart-wrap">
								<div id="container2"></div>

								<!-- custom legend -->
								<div class="legend-box clearfix">
									<div class="legend legend1">
										<div class="legend-head">Priority need</div>
										<ul>
											<li>Temporary shelter</li>
											<li>Fresh Food</li>
										</ul>
									</div>
									<div class="legend legend2">
										<div class="legend-head">Respondents</div>
										<ul>
											<li>1400</li>
										</ul>
									</div>
									<div class="legend legend3 download">
										<ul>
											<li><a href="#!"><span class="icon icon-download"></span> Download Report</a></li>
											<li><a href="#!"><span class="icon icon-share"></span> Share Report</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- data table -->
							<div class="chart-table">
								<table id="datatable" class="table table-bordered">
							    <thead>
							        <tr>
							            <th></th>
							            <th>not at all</th>
							            <th>a little bit</th>
							            <th>most of them</th>
							            <th>yes</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr>
							            <th>January</th>
							            <td>18</td>
							            <td>4</td>
							            <td>10</td>
							            <td>65</td>
							        </tr>
							        <tr>
							            <th>February</th>
							            <td>25</td>
							            <td>50</td>
							            <td>20</td>
							            <td>50</td>
							        </tr>
							        <tr>
							            <th>March</th>
							            <td>42</td>
							            <td>50</td>
							            <td>35</td>
							            <td>65</td>
							        </tr>
							    </tbody>
								</table>
							</div>
						</div>
					</div>
				</div><!-- /.main-content -->
			</div>
		</div>
	</section>
{% endblock %}