{% extends '::frontend.html.twig' %}

{% block body -%}
    {# TODO: Need to add share button with functionality #}
    <div class="page-title"><h3>Community Perception Survey Report - {{ slug }}</h3></div>

    <table class="records_list table table-condensed table-hover table-striped dataTables">
        {# for round 5 #}}
        {% set excludeColumns = {  1:1, 8:8, 10:10, 12:12, 14:14, 15:15, 16:16, 17:17, 18:18, 19:19, 21:21, 22:22, 23:23, 24:24, 26:26, 27:27, 28:28, 29:29, 31:31, 32:32, 33:33, 34:34, 36:36, 37:37, 38:38, 39:39, 41:41, 44:44, 45:45
        } %}
        
        {% set count = 1  %}
        
        {% set numColumns = 10 %}
        
        {% for entity in fileInfo %}
            {% if count == 0 %}
                {% set count = 1 %}
            {% elseif count == 1 %}
        
            <thead>
                <tr>
                    {% set columncount = 0 %}
                    {% for val in entity %}
                        {% if columncount in excludeColumns %}
                    
                        {% else %}
                            <th>{{ val }}</a></th>
                        {% endif %}
                        {% set columncount = columncount + 1 %}
                    {% endfor %}
                    
                    
                    
                </tr>
            </thead>
            <tbody>
            {% set count = 2  %}
            
            {% else %}
            
                
            
                <tr>
                    {% set columncount = 0 %}
                    {% for val in entity %}
                        {% if columncount in excludeColumns %}
                    
                        {% else %}
                            <td>{{ val }}</td>
                        {% endif %}
                        {% set columncount = columncount + 1 %}
                    {% endfor %}
                </tr>
            
            {% endif %}
        {% endfor %}    
        </tbody>
    </table>
        
    {% endblock %}
{% block scriptIncludes %}
<script>
        $(document).ready(function() {
            $('.dataTables').dataTable({
                "pageLength": 100,
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                },
                "colVis": {
                    "buttonText": "Change columns"
                }
            });
            $('.DTTT_button_xls span, .DTTT_button_csv span').html('Download');
        });

        
    </script>
{% endblock %}