{% extends 'base.html.twig' %}

{% block body %}
<div id="map" class="theme-default">
    <ul class="data-type clearfix hidden">
        <li class="active"><a href="new-enrollment.html">New Enrollment</a></li><!-- change this -->
        <li><a href="net-enrollment-basic.html">Net Enrollment (Basic)</a></li>
        <li><a href="net-enrollment-secondary.html">Net Enrollment (Secondary)</a></li>
        <li><a href="student-teacher-ratio.html">Student Teacher Ratio (Primary)</a></li>
    </ul>
</div>     
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/css/leaflet.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
{% endblock %}
{% block scriptIncludes %}
<script type="text/javascript">
		//change these variables
    var theme_color = "#ffffff";//#0099ff
	var border_color = "#ccc";//#f7941e: orange
</script>
<script type="text/javascript" src="/js/leaflet.js"></script>
<script type="text/javascript" src="/js/nepal-districts.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
{% endblock %}